{% extends "base.twig" %}

{% block title %}Change Password - TinyCMS{% endblock %}

{% block content %}
<div class="card mx-auto mt-4" style="background-color: var(--boxes-bg); max-width: 600px;">
    <div class="card-body mb-2" style="border:1px solid var(--main-border);">
        <h2 class="card-title text-center title" style="margin-top:unset!important;">Change Password</h2>
        <hr style="border-color: var(--main-border);">
        {% if change_password_status is defined %}
            {% if change_password_status == 'success' %}
                <div class="alert alert-success">Password has been successfully changed.</div>
            {% else %}
                <div class="alert alert-danger">Failed to change password. Please make sure your old password is correct.</div>
            {% endif %}
        {% endif %}
        {% if password_mismatch is defined and password_mismatch %}
            <div class="alert alert-danger">New password and confirmed password do not match.</div>
        {% endif %}
        <div class="row">
            <form method="post" action="/changepassword">
                <div class="form-group mx-auto">
                    <label for="old_password" style="color: var(--page-text);">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Enter old password" required>
                </div>

                <div class="form-group mx-auto">
                    <label for="password" class="text-white">New Password</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter new password" required>
                </div>

                <div class="form-group mx-auto">
                    <label for="confirm_password" class="text-white">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm new password" required>
                </div>
                <button type="submit" class="change-password-button">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}