{% extends "base.twig" %}

{% block title %}Dashboard - Admin
{% endblock %}

{% set active_page = 'dashboard' %}

{% block content %}
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-3">
		<div class="widget">
			<i class="fa-solid fa-house"></i>
			<p>Dashboard</p>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-3">
		<div class="widget">
			<i class="fa-solid fa-house"></i>
			<p>Dashboard</p>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-3">
		<div class="widget">
			<i class="fa-solid fa-house"></i>
			<p>Dashboard</p>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-3">
		<div class="widget">
			<i class="fa-solid fa-house"></i>
			<p>Dashboard</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6">
		<div class="panel">
			<h5>Panel 1</h5>
		</div>
	</div>
	<div class="col-sm-12 col-md-6">
		<div class="panel">
			<h5>Panel 2</h5>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="panel">
			<h5>Panel 3</h5>
		</div>
	</div>
</div>
{% endblock %}
